@use '../../../../styles/vars' as vars;
@use '../../../../styles/mixins';

.about {
    margin-top: 1rem;
    margin-bottom: 1rem;

    p {
        border: solid vars.$natural-brown 10px;
        border-radius: 15px;
        padding: 2rem;
        margin: 2rem;
        background: vars.$green-gradient-nature;
        font-size: 2rem;
    }

    a {
        display: inline-flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        color: vars.$text;
    }
}