$natural-cyan: #c1dcd1;
$natural-brown: #c99663;
$blue-gradient-nature: #0077BE;
$green-gradient-nature: #228B22;
$link-header-footer: #004466;
$text: black;
$text2: black;
$green-button: green;
$grey-box-shadow: rgba(0, 0, 0, 0.2);