@use '../../../styles/vars' as vars;
@use '../../../styles/mixins';

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    background: vars.$natural-brown;
    opacity: 70%;
    font: 1.2rem "Fira Sans", sans-serif;

    a {
        text-decoration: none;
        cursor: pointer;
        transition: transform 0.1s ease;
        margin: 1rem;
        padding: 1rem;
        font: bold;
        font-size: 2rem;
    }

    a:hover {
        color: #007BFF;
    }

    a:active {
        transform: scale(1.5);
        color: #0056b3;
    }

    .newsletter-social-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include mixins.big {
        .newsletter-social-links {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .footer-links {
            text-align: center;
        }
    }

    @include mixins.small {
        .footer-links {
            text-align: center;
        }
    }

    a {
        color: vars.$text2;
    }

    label {
        color: vars.$text2;
    }

    p {
        color: vars.$text2;
        font: bold;
        font-size: 2rem;
    }

    &-links {
        padding: 0.2rem;
        text-align: center;
    }

    .footer-newsletter {
        padding: 0.2rem;
        margin: 1rem;

        label {
            padding: 0.5rem;
            margin: 1rem;
        }

        input {
            border-radius: 0.5rem;
        }
    }

    .footer-social {
        padding: 0.2rem;
        text-align: center;
    }

    .footer-bottom {
        padding: 0.2rem;
    }
}